body{
	background:#fdfdfd;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size:1em;
	line-height:1.3;
}

h1{
	font-size: 33px;
	font-weight: bold;
	margin: 0 0 30px 0;
	text-align: center;
}

h2{
	color: #333333;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.2em;
	display: block;
	float: left;
	text-transform: uppercase;
	letter-spacing: 4px;
}

label{
	color:#333333;
	display:block;
	font-weight:bold;
	margin:0 0 5px 0;
	padding-left: 20px
}

.container {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

.cluster {
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#uploaded, #filename {
	display: none;
}

input[type=text]{
	border:0;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-weight:bold;
	height:24px;
	padding:3px 10px;
	text-transform:uppercase;
	background-color:#5c5c5c;
    display:inline-block;
    color:#ffffef;
    margin-left: 10px;
}

input[type=checkbox] {
	float: left;
}

#container{
	background:#eee;
	border-bottom:5px solid #5c5c5c;
	font-size:.875em;
	margin:0 auto 50px;
	padding:50px 40px;
	width:1020px;
}
#getinput{
    margin-left: 200px;

}
textarea {
	display: none;
}

#hor-minimalist-b {
	font-size: 12px;
	background: #fff;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
	margin: 0px auto
}

#table-display {
	overflow: scroll;
}

#hor-minimalist-b th {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	border-bottom: 2px solid #666;
	padding: 10px 8px;
	text-transform: capitalize;
}

#hor-minimalist-b td {
	color: #666;
	padding: 6px 8px;
}

#hor-minimalist-b tr:hover {
	background-color: #eee;
	cursor: pointer;
}

.hovered { 
	background-color: #eee; 
}

table.tablesorter {
	font-size: 12px;
	background-color: #4D4D4D;
	width: 1024px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	color: #FFF;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
.header {
	background-image: url('bg.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
	background-position-x: 100%;
	background-position-y: 90%;
}
.headerSortUp {
	background-image: url('asc.gif');
	background-repeat: no-repeat;
}
.headerSortDown {
	background-image: url('desc.gif');
	background-repeat: no-repeat;
}

/* normal */
.wrapper{
    position:fixed;
    width:350px;
    height:500px;
    top:150px;
    left:0;
    margin-left:-325px;
    
    /* Makes opening smoothly */
    transition: margin-left ease 1s;
    -moz-transition: margin-left ease 1s;
    -webkit-transition: margin-left ease 1s;
    -o-transition: margin-left ease 1s;
}

/* opened */
.wrapperhover{
    margin-left:0px;
    position:fixed;
    width:350px;
    height:500px;
    top:150px;
    left:0;
    /* Makes opening smoothly */
    transition: margin-left ease 1s;
    -moz-transition: margin-left ease 1s;
    -webkit-transition: margin-left ease 1s;
    -o-transition: margin-left ease 1s;
}

.toggle {
    position:relative;
    display:block;
    width:25px;
    height:600px;
    float:right;
    text-align: center;
}

.options {
    position: relative;
    width:325px;
    height:600px;
    float:left;
}

#inner-options {
	padding: 15px;
}

#open, #close {
	color: #999;
	cursor: pointer;
	font-size: 20px;
}

#wrapperdiv {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

.select {
	background: #ccc;
}

.pad-left {
	padding-left: 10px;
}

