<html>
<meta charset="utf-8">
<head>
  <title>About</title>
  <!-- <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script> -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body class="about">
	<header class="nav">
	    <a href="/"><img class="logo-img" src="{{ url_for('static', filename='images/logo_temp.gif') }}" alt="Logo"></a>
	    <ul>
	      <li><h4><a href="/results_home">Home</a></h4></li>
	      <li><h4><a href="/network">Network</a></h4></li>
	      <li><h4><a href="/about" class="active">About</a></h4></li>
	    </ul>
  	</header>

  	<div class="row-class">
  		<h1>OUR <strong>TEAM</strong></h1>
  		<br>
  		<p>We are a team of graduate students at University of California Berkeley's School of Information</p>
  		<div class="about-img">
  			<div class="column-25 column block">
  				<div class="member-pic">
  					<a href="https://www.linkedin.com/in/haroonrasheedpaul" target="_blank"><img src="{{ url_for('static', filename='images/DSC07247.JPG') }}" alt="Haroon"></a>
  				</div>
  				<div class="member-desc">
  					<h3>Haroon</h3>
  					<p></p>
  				</div>
	  		</div>
	  		<div class="column-25 column block">
	  			<div class="member-pic">
  					<a href="https://www.linkedin.com/pub/divya-karthikeyan/51/982/658" target="_blank"><img src="{{ url_for('static', filename='images/DSC07248.JPG') }}" alt="Divya"></a>
  				</div>
  				<div class="member-desc">
  					<h3>Divya</h3>
  					<p></p>
  				</div>
	  		</div>
	  		<div class="column-25 column block">
	  			<div class="member-pic">
  					<a href="https://www.linkedin.com/in/bharathkumargunasekaran" target="_blank"><img src="{{ url_for('static', filename='images/DSC07249.JPG') }}" alt="Bharath"></a>
  				</div>
  				<div class="member-desc">
  					<h3>Bharath</h3>
  					<p></p>
  				</div>
	  		</div>
  		</div>
  	</div>

	<!-- <script src="./static/js/main.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script> -->
	<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
</body>
</html>