<html><head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <title>UC Berkeley: Career predictor</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">

</head>
<body>
<!-- title bar -->
<div id="all">
    <div id="about"><a href="http://127.0.0.1:5000/about"><h5>About us</h5></a><h5><a href="http://127.0.0.1:5000/about"></a></h5></div>
  <div id="top">
    <div id="logo">
    <img scr="" alt="Logo" ></img>
  </div>


  </div>
  <div id="middle">
      <div id="getinput">
          <div class="upload">
                <form style="margin: 0px;" id="file-upload" enctype="multipart/form-data">
                    <div class="row-fluid">
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <input id="fileupload" type="file" name="file">
                        </span>
                        <span class="files">
                        </span>
                    </div>
                </form>
            </div>
            <br/>
            <div id="uploadbutton">
              <h6><input class="btn btn-primary pull-right" id="analyze" type="button" value="Begin my career analysis" /></h6>
          </div>
    </div>
</div>
</br>
<div id="bottom">
  <div id="left">
    left panel
  </div>

  <div id="right">
    right panel
  </div>
  </div>

</div>
<!-- JS -->


      <script src="../static/js/panel.js" type="text/javascript" />
      <script src="../static/js/main.js" type="text/javascript" />
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="../static/js/jquery-1.8.1.min.js"></script>
      <script src="../static/js/jquery.ui.widget.js"></script>
      <script src="../static/js/jquery.iframe-transport.js"></script>
      <script src="../static/js/jquery.fileupload.js"></script>
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/highcharts-more.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>


</body></html>