<html>
<head>
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
    <title>UC Berkeley: Career predictor</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/jquery.fileupload-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">

</head>
<body>
  <header class="nav">
    <a href="/"><img class="logo-img" src="{{ url_for('static', filename='images/logo_temp.gif') }}" alt="Logo"></a>
    <ul>
      <li><h4><a href="/network">Network</a></h4></li>
      <li><h4><a href="/about">About</a></h4></li>
    </ul>
  </header>
  <div class="input-class">
     <div id="getinput" class="upload">
      <form id="file-upload" enctype="multipart/form-data">
        <div class="row-fluid">
          <span class="btn btn-info btn-sm fileinput-button">
            <div id="sel-res">
              <i class="fa fa-plus"></i>
              <span>Select Resume</span>
            </div>
            <input id="fileupload" type="file" name="file" value="fileupload" multiple>
          </span>
          <span class="files">
          </span>
          <input id="upload-button" class="btn btn-primary pull-right" type="button" value="Begin My Career Analysis" />
        </div>
      </form>
    </div>
  </div>
  <div class="row-class">
    <div id="spinner-id">
      <div id="blockG_1" class="spinner-class">
      </div>
      <div id="blockG_2" class="spinner-class">
      </div>
      <div id="blockG_3" class="spinner-class">
      </div>
    </div>
  </div>
  <footer>
  </footer>

  <!-- JS -->

  <script src="./static/js/main.js"></script>
  <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui-1.10.4.custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery.mockjax.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/skillsLookup.js') }}"></script> -->

</body>
</html>