<html>
<meta charset="utf-8">
<head>
	<title>Network</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/network.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<header class="nav">
		<a href="/"><img class="logo-img" src="{{ url_for('static', filename='images/logo_temp.gif') }}" alt="Logo"></a>
		<ul>
		  <li><h4><a href="/results_home">Home</a></h4></li>
		  <li><h4><a href="/network" class="active">Network</a></h4></li>
		  <li><h4><a href="/about">About</a></h4></li>
		</ul>
	</header>

	<div class="row-class">
		<input type="hidden"  id="university" value = "{{ parameter }}" />
		<div id="inputs">
		</div>
	</div>
{#	<div id="network-graph"></div>#}
    <div id="tree-graph"></div>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mockjax.js') }}"></script>
<script src="{{ url_for('static', filename='js/countries.js') }}"></script>
<script src="{{ url_for('static', filename='js/majorsLookup.js') }}"></script>
<script src="{{ url_for('static', filename='js/univsLookup.js') }}"></script>
{#<script src="{{ url_for('static', filename='js/network.js') }}"></script>#}
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script src="./static/js/main.js"></script>


</body>
</html>
